.header {
	font-size: 55pt;
	font-weight: bolder;
	text-align: center;
	color: darkblue;
	margin-bottom: 45px;
}

body{
	background-color: lightblue;
	font-family: cursive;
}

li {
	list-style: none;
}

li a {
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 30pt;
	width: 30%;
	margin-left: 34%;
	margin-bottom: 20px;
	box-shadow: 2px 2px 10px;
	border-radius: 25px;
}

li > a:link, a:visited {
	background-color: #87CEEB;
	background:linear-gradient(to bottom, #B8DAFF 5%, #1CBDE2 100%);
	border: 3px solid blue;
	color: blue;
	text-shadow: 3px 0px 3px #3D94F6;
}

li > a:hover, a:active {
	background-color: #EFEFEF;
	border: 3px solid gray;
	color: gray;
	margin-left: 34.3%;
	text-shadow: 3px 0px 3px #AEAEAE;
	background:linear-gradient(to bottom, #E0E0E0 5%, #A1A2A2 100%);
}
